<% @title = "Problems"%>
<%= render 'layouts/nav' %>
<%= render 'layouts/topnav' %>
<div class="home-content">
	<!-- Start of Dashboard body-->
	<div class="row-fluid">
		<!-- Start of previous problems section-->
		<div class="span12">
			<!-- Start of posts-->
			<% @problems.each do |p| %>
			<h2>
				<%= p.title %>
			</h2>
			<p><%= p.description %></p>

			<div id="textbox">
				<p class="alignleft">Category: hurtlocker</p>
				<p>
					<% @user = User.where(p.user_id) %>
					<% @user.each do |n| %>
					<p class="alignright">Submitted by: <%= n.name%></p>
					<%end%>
				</p>
			</div>
			<div style="clear: both;"></div>
			<ul class="pager">
			  <li class="previous">
			    <a href="#">&larr; Older</a>
			  </li>
			  <li class="next">
			    <a href="#">Newer &rarr;</a>
			  </li>
			</ul>
			<div style="clear: both;"></div>

		</div>
		<% end %>


		<!-- End of problems-->
	</div>
	<!-- End of previous posts section-->
</div>
<!-- End of Dashboard body-->