<% @title = "Problems"%>
<%= render 'layouts/nav' %>
<%= render 'layouts/topnav' %>
<div class="home-content">
	
<% @problems.each do |p| %>
<div class="row-fluid">
	<div class="span9">
		<h2>
			<%= p.title %>
		</h2>
		<p><%= p.description %></p>

		<div id="textbox">
			<p class="alignleft">Category: hurtlocker</p>
			<p>
				<% @user = User.where(p.user_id) %>
				<% @user.each do |n| %>
				<p class="alignright">Submitted by: <%= n.name%></p>
				<%end%>
			</div>
			<div style="clear: both;"></div>
			<hr>
		</div>
		<div class="span2 ">
			<img src= "http://placehold.it/80x80/138caf/ffffff&text=Id.<%=p.id%>" />
		</div>
</div>
<% end %>

	<ul class="pager">
		<li class="previous">
			<a href="#">&larr; Older</a>
		</li>
		<li class="next">
			<a href="#">Newer &rarr;</a>
		</li>
	</ul>


