<% @title = "Problems"%>
<%= render 'layouts/nav' %>
<%= render 'layouts/topnav' %>
<div class="home-content">

<!-- Running loop for each post's. But displaying one per page. -->
<% @problems.first(1).each do |p| %>
<div class="row-fluid">
	<div class="span9">
		<h2>
			<%= p.title %>
		</h2>
		<p><%= p.description %></p>

		<div id="textbox">
			<p class="alignleft">Category: hurtlocker</p>
			<p>
				<p class="alignright">
					<%if p.twitter_username?%>
					Submitted by <%= link_to "#{p.name}", "http://twitter.com/#{p.twitter_username}" %>  <br \>
					<%= link_to image_tag("https://api.twitter.com/1/users/profile_image/#{p.twitter_username}?size=original",:size => "70x70"), "http://twitter.com/#{p.twitter_username}"%>


					<%else%>
					Submitted by: <%= p.name%> <br \>
					<%= image_tag "pic_placeholder.jpeg" ,  :size=> "60x60"%>
					<%end%>

				</p>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div class="span2 ">
			<img src= "http://placehold.it/80x80/138caf/ffffff&text=Id.<%=p.id%>" />
		</div>
	</div>

	<% end %>

	<!-- Looking for new and previous posts. -->
	<ul class="pager">
		<% @problems.each do |p| %>
		<li class="previous">
			<%= link_to("Previous Post", p.previous_post) if p.previous_post %>
		</li>
		<li class="next">
			<%= link_to("Next Post", p.next_post) if p.next_post %>
		</li>
		<%end%>
	</ul>
